@model thongtinbaihat.Models.SongsInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SongsInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SongId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SongId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SongName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SongName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LyricsId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LyricsId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UrlId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UrlId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
